.content{
  display: flex;
  height: 500px;
}
.main{
  width: 75%;
  background-color:lightblue;
}
.aside{
  width: 25%;
  background-color: aquamarine;
}
@media screen and (max-width:768px){
  .content{
    flex-direction: column;
  }
  .main, .aside{
    width: 100%;
  }
}
