header{
  height: 2px;
  background-color: rgb(219, 248, 248);
}

footer{
  height: 200px;
  display: flex;
  align-items: flex-end;
  background-color: rgb(226, 223, 222);
}
.contenedor{
  margin-top: 10px;
  background-color: rgb(108, 174, 173);
  height: 1000px;
  display: flex;
  flex-direction: row;
}

.lateralder{
  width: 5vw;
}
.lateralizq{
  width: 95vw;
}
.logo{
  height: 20vh;
  display: flex;
  justify-content: flex-start;
}
.imagenlogo{
  position: relative;
  width: 2vw;
  height: 5vh;
}
 .logo .titulo{
     position: relative;
     font-size: 100vh, 100vw;
     font:inherit;
     text-transform: uppercase;
     font-weight: bold;
     text-decoration: none;
 }
 .cuadros{
   display: flex;
   flex-direction: row;
 }

 .lista1, .lista2, .lista3{
   display:flex;
   flex-direction: column;
   justify:center;
  list-style: none;/*para sacar las viñetas de la lista"*/
 }

.listascuadros ul li {
  background-color: #015EBB;
  border: 2px solid #013D78;
  width: 300px;
  height: 300px;
  margin: 5px;
/*  box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65);*/
}
