header{
  height: 2px;
  background-color: rgb(219, 248, 248);
}

footer{
  height: 200px;
  display: flex;
  align-items: flex-end;
  background-color: rgb(226, 223, 222);
}
.contenedor{
  margin-top: 10px;
  background-color: rgb(108, 174, 173);
  height: 1600px;
  display: flex;
  flex-direction: row;
}

.lateralder{
  width: 5vw;
}
.lateralizq{
  width: 95vw;
}
.logo{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenlogo{
  position: relative;
  width: 50px;
  height: 50px;
}
 .logo .titulo{
   font-family: fantasy;
     font-style: normal;
     font-weight: 300;
     letter-spacing: 0.35em;
     position: relative;
     font-size: 100vh, 100vw;
     text-transform: uppercase;
     /*font-weight: bold;*/
     display:flex;
     align-items: center;
     /*background-image: url(logo.svg);*/
 }
 .cuadros{
   display: flex;
   flex-direction: row;
   justify-content:center;
 }

 .lista1, .lista2, .lista3{
   display:flex;
   flex-direction: column;
   justify:center;
  list-style: none;/*para sacar las viñetas de la lista"*/
 }

.listascuadros ul li {
  background-color: #015EBB;
  border: 2px solid #013D78;
  width: 300px;
  height: 300px;
  margin: 10px;
/*  box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65);*/
}
