body{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
}

.board{
  background-color: #cccccc;
  border-radius: 5px;
  padding: 1vw;
  margin-top: 10vh;
}

.board button{
  width: 3vw;
  height: 3vw;
  margin: 1vw;
  border: 1px solid #999;
  border-radius: 50px;
}


.board button.hidden{
  visibility:hidden;
}
.board button.peg{
  background-color: #0000ff;
}

.board button.selected{
  background-color: #00aa00;
}

.board button.selected:active{
  background-color: #006600;
}

.board button.suggestion{
  background-color: #FFce65;
}
